[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
pyyaml = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
